<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FCProgressHUD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>964C47781D95FC1800C58738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>964C47911D95FC1800C58738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>964C479C1D95FC1900C58738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
